* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
   background-color: white;
   color: #000000;

   font-variant-numeric: oldstyle-nums;
   hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;

   -ms-hyphenate-limit-lines: 2;
   -webkit-hyphenate-limit-line: 2;

   hyphenate-limit-chars: 7 3 3;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 3;
}

/*
.container{
   margin: 40px auto 40px auto;
   max-width: 680px;
   min-width: 375px;
   padding: 0 25px 0 25px;
}
   */

h1{
  font-family: "peridot-devanagari", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 200px;

}


p{
   font-family: ff-real-text-pro, sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 18px;
   line-height: 27px;
}

p+p{
   text-indent: 2em;
}

i {
  font-style: italic;
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size:  34px;
    line-height: 45px;
  }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

.principle {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  scroll-snap-align: start;
}
/* Test */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}


/* Background images for each principle */
#principle1 { background-image: url('../image/gettyimages-1152972116-2000-921c5e624d6940849479462f248c43f4.jpg'); }