* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
   background-color: #f2b1c7;
   color: #000000;

   font-variant-numeric: oldstyle-nums;
   hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;

   -ms-hyphenate-limit-lines: 2;
   -webkit-hyphenate-limit-line: 2;

   hyphenate-limit-chars: 7 3 3;
   -webkit-hyphenate-limit-before: 3;
   -webkit-hyphenate-limit-after: 3;
}

/*
.container{
   margin: 40px auto 40px auto;
   max-width: 680px;
   min-width: 375px;
   padding: 0 25px 0 25px;
}
   */


.section{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.section img{
  width: 900px;
  height: auto;
}

.group img{
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  width: 250px;
  height: auto;
}

.title{
  font-family: "neil-bold-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
   font-size: 50px;
   line-height: 27px;
   justify-content: center;
   align-items: center;
}

p{
   font-family: ff-real-text-pro, sans-serif;
   text-indent: 2em;
   font-weight: 200;
   font-style: normal;
   font-size: 16px;
   line-height: 27px;
}


@media only screen and (max-width:550px) {
  h1 {
    font-size:  34px;
    line-height: 45px;
  }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

.principle {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  scroll-snap-align: start;
}

/* Test */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}


/* Background images for each principle */
#principle1 { background-image: url('/image/Tyler\ Homepage\ 2.jpg')}